{% extends 'base.html' %}
{% block title %}list student{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Student List</h1>
        <hr>

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              Student Names
            </a>
            {% for student in student_list %}
                <a href="{% url 'student_detail' student.id%}" class="list-group-item list-group-item-action">{{student.first_name|title}} {{student.last_name|title}}</a>
            {% endfor %}
          </div>
          <br>
        <button id="btn" class="btn btn-primary"><a href="{% url 'add'%}">Add Student</a></button>
        {% comment %} <button id="btn" class="btn btn-primary"><a href="{% url 'display_all'%}">View all student</a></button> {% endcomment %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}